@import "../_variables.scss";

.footer {
  background-color: $background-dark;
  border-top: white;
  color: white;
  margin-top: 40px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}