{% extends 'base.html.twig' %}

{% block title %}MathLoft{% endblock %}
{% block banner %}{% include 'Components/HeaderSlider.html.twig' with {'quotes': quotes} %}{% endblock %}
{% block body %}
    <div class="home-banners">
        {% include 'Components/ProfileBanner.html.twig' %}
        {% include 'Components/StatsBanner.html.twig' with {'statsCount':statsCount} %}
    </div>

    {% include 'Components/ThemesCards.html.twig' with {'themes':themes} %}
{% endblock %}
