@import "../_variables.scss";

.slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: $background;
  padding: 80px 0 60px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slider {
  display: flex;
  width: 100%;
  animation: slide 20s infinite;
  transition: transform 0.5s ease-in-out;
}

.slider-item {
  flex: 1 0 100%;
  color: $black;
  font-size: 18px;
  text-align: center;
  padding: 20px 0;
  opacity: 0.6;
  transition: opacity 0.5s ease-in-out;
}

.slider-item-active {
  opacity: 1;
}

.slider-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 15px;
  width: 100%;
  gap: 8px;
}

.slider-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: lighten($black, 50%);
  cursor: pointer;
  transition: background-color 0.3s;

  &.active {
    background-color: $color-secondary;
  }

  &:hover {
    background-color: darken($color-secondary, 10%);
  }
}
