@import "../_variables.scss";

.slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: $background-dark;
  padding: 80px 0 60px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slider {
  display: flex;
  width: 100%;
  animation: slide 20s infinite;
}

.slider-item {
  flex: 1 0 100%;
  color: $white;
  font-size: 18px;
  text-align: center;
}

@keyframes slide {
  0%, 20% { transform: translateX(0); }
  25%, 45% { transform: translateX(-100%); }
  50%, 70% { transform: translateX(-200%); }
  75%, 100% { transform: translateX(0); }
}
