{% extends 'base.html.twig' %}

{% block title %}Vaše statistiky{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('stats') }}
    {% block importmap %}{{ importmap('stats') }}{% endblock %}
{% endblock %}

{% block banner %}
    <div class="theme_header">
        <h1>Statistiky</h1>
    </div>
{% endblock %}

{% block body %}
    <div class="statistics-container">
        {% if not app.user %}
            <div class="alert alert-warning">Statistiky jsou dostupné pouze pro přihlášené uživatele.</div>
        {% elseif statistics is empty %}
            <div class="alert alert-info">Nemáte žádné statistiky.</div>
        {% else %}
            {% include 'Components/StatsCards.html.twig' with {'statistics':statistics} %}
        {% endif %}
    </div>
{% endblock %}
