{% extends 'base.html.twig' %}

{% block header %}{% endblock %}
{% block title %}Edit{% endblock %}

{% block body %}
    <div class="admin-form">
        <h1>Upravit</h1>
        <form action="{{ path('edit_' ~ entity, {'id': data.id}) }}" method="post" target="_blank">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn edit">Uložit změny</button>
            {{ form_end(form) }}
        </form>
    </div>
    <script>
        window.addEventListener('beforeunload', function () {
            if (!this.opener) {
                return;
            }

            this.opener.location.reload();
        });
        document.addEventListener('DOMContentLoaded', function () {
            const passwordField = document.querySelector('.password-field');
            const showPasswordCheckbox = document.querySelector('[name="theme_settings[show_access_code]"]');

            showPasswordCheckbox.addEventListener('change', function () {
                if (this.checked) {
                    passwordField.setAttribute('type', 'text');
                } else {
                    passwordField.setAttribute('type', 'password');
                }
            });
        });
    </script>
{% endblock %}

{% block topBtn %}
{% endblock %}

{% block footer %}
{% endblock %}
