{% extends 'base.html.twig' %}

{% block header %}
    {% include 'Components/AdminNavBar.html.twig' %}
{% endblock %}

{% block title %}Admin{% endblock %}

{% block body %}
    <div class="admin-main">
        {% include 'Components/AdminEntityCards.html.twig' %}
        {% include 'Components/AdminImportExamples.html.twig' %}
    </div>
{% endblock %}


{% block footer %}{% endblock %}
