@import "../_variables.scss";

.theme_header {
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $background-dark;
  color: $white;
}

.test {
  background-color: $background-dark;
  border: $border-white;
  padding: 20px 30px;
  border-radius: $border-radius;
  display: flex;
  position: relative;
  top: -40px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 900px;
  gap: 10px;

  .btn-primary {
    gap: 10px;
    width: 100%;
  }

  img {
    max-width: 20px;
  }
}

.theme-content {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 30px;
  background-color: $color-primary;
  border-radius: $border-radius;

  body {
    line-height: 1.6;
    background-color: $white;
    color: $background-dark;
    margin: 20px;
    padding: 0 20px;
  }

  h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  h3 {
    font-size: 1.5em;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.1em;
    margin-bottom: 15px;
  }

  strong {
    color: #e74c3c;
  }

  em {
    font-style: italic;
    background-color: $white;
    padding: 2px 5px;
    border-radius: 3px;
  }

  ul, ol {
    margin-bottom: 20px;
    padding-left: 40px;
  }

  ul li, ol li {
    margin-bottom: 10px;
  }

  li::marker {
    color: #3498db;
  }

  ul li strong {
    color: #2980b9;
  }

  ol li p {
    margin: 0;
  }

  ul li em, ol li em {
    font-style: italic;
    color: #16a085;
    background-color: $white;
    padding: 2px 5px;
    border-radius: 3px;
  }

  blockquote {
    margin: 20px 0;
    padding: 10px 20px;
    background-color: $white;
    border-left: 5px solid #3498db;
    font-style: italic;
    color: #7f8c8d;
  }

  a {
    color: #3498db;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  code {
    background-color: $white;
    padding: 2px 5px;
    border-radius: 3px;
  }
}

#tooltip {
  display: none;
  position: absolute;
  background: $background-dark;
  color: $white;
  padding: 5px;
  border-radius: $border-radius;
  z-index: 1000;
}