@import "../_variables.scss";

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: $border-radius;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-wrapper h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #333;
}

.form-wrapper label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
  color: #555;
}

.form-wrapper .form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: $border-white;
  border-radius: $border-radius;
  box-sizing: border-box;
  font-size: 1rem;
}

.form-wrapper .form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-wrapper .alert {
  text-align: center;
  margin-bottom: 20px;
}

.form-wrapper .mb-3 {
  text-align: center;
  margin-bottom: 20px;
}

.form-wrapper a:hover {
  text-decoration: underline;
}

.submit-btn-wrapper {
  width: 100%;

  .btn {
    width: 100%;
  }
}
