@import "_variables.scss";

@mixin button-base($padding, $bg-color, $text-color, $max-width: auto, $width: auto) {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $padding;
  background-color: $bg-color;
  color: $text-color;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  transition: all 0.5s ease;
  max-width: $max-width;
  width: $width;

  &:hover {
    background-color: $color-one;
    cursor: pointer;
  }
}

.btn-primary {
  @include button-base(10px 15px, $color-secondary, white, 250px);
}

.btn-secondary {
  @include button-base(10px 15px, $color-secondary, $white, 250px);
}

.btn-block {
  @include button-base(30px 40px, $color-secondary, $black, 100%, 100%);
}

.btn-link {
  padding: 10px 15px;
  border: none;
  color: white;
  text-decoration: none;

  &:hover {
    color: gray;
  }
}

.disabled {
  background-color: gray;

  &:hover {
    background-color: gray;
  }
}
