$color-two: #7a7fbd;
$color-one: #3c4376;
$color-secondary: #5c679e;
$color-primary: #dde5de;

$border-radius: 10px;
$border: 1px solid black;
$border-white: 1px solid #ecf0f1;
$background-dark: #222;

$white: #ecf0f1;
$black: black;