@import "_variables.scss";

html, body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #fffbf7;
  min-height: 100vh;
  padding: 0;
}

body {
  flex: 1;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 0 20px;

  @media (max-width: 1200px) {
    max-width: 1000px;
  }

  @media (max-width: 992px) {
    max-width: 800px;
  }

  @media (max-width: 768px) {
    max-width: 100%;
    padding: 0 10px;
  }
}


.header {
  height: 150px;
  background-color: $background-dark;
  border-bottom: $border-white;
}

#toTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 25px 25px;
  background-color: $color-secondary;
  border: none;
  color: $white;
  border-radius: 50%;
  cursor: pointer;
  transition: border 0.5s ease-in;
  z-index: 10;

  img {
    transition: transform 0.5s ease;
    max-height: 40px;
  }
}

#toTopBtn:hover {
  background-color: $color-two;
  border: $border;

  img {
    transform: rotate(360deg);
  }
}


