@import "../_variables.scss";

.exercise {
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
  border-radius: $border-radius;
  background-color: #f9f9f9;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

  .example {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: $border-radius;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    .example-header {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 10px;
      align-items: center;
      margin-bottom: 10px;
      font-weight: bold;

      .equation {
        font-size: 24px;
        color: #333;
      }
    }

    .answer {
      padding: 10px;
      border-radius: 5px;
      margin-top: 10px;
      position: relative;
      overflow: hidden;

      &.incorrect_result {
        background-color: rgba(231, 76, 60, 0.1);
        color: $red;
        border: 1px solid #e74c3c;
        padding: 15px;
        font-weight: bold;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(231, 76, 60, 0.3);
        transition: all 0.3s;

        &:before {
          content: '❌';
          font-size: 20px;
          position: absolute;
          top: 10px;
          right: 10px;
        }
      }

      &.correct_result {
        background-color: rgba(46, 204, 113, 0.1);
        color: $green;
        border: 1px solid #2ecc71;
        padding: 15px;
        font-weight: bold;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(46, 204, 113, 0.3);
        transition: all 0.3s;

        &:before {
          content: '✅';
          font-size: 20px;
          position: absolute;
          top: 10px;
          right: 10px;
        }
      }
    }

    .steps {
      margin-top: 10px;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: #f7f7f7;

      .step {
        margin-bottom: 5px;
        font-size: 16px;
        color: #555;
        position: relative;

        &:before {
          content: '➤';
          position: absolute;
          left: -20px;
          color: #007BFF;
        }
      }
    }

    .answer-input {
      flex: 1;
      padding: 10px;
      border: 1px solid #aaa;
      border-radius: $border-radius;
      font-size: 16px;
      transition: border-color 0.2s;
      min-width: 250px;

      &:focus {
        border-color: #007BFF;
        outline: none;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
      }
    }

    .submit-answer {
      border-radius: $border-radius;
      margin-left: 10px;
    }
  }
}


.results {
  position: fixed;
  left: 15%;
  bottom: 50%;
  padding: 20px;
  border: $border;
  border-radius: $border-radius;
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;

  p {
    margin: 0;
    font-weight: bold;
  }

  >div {
    display: flex;
    gap: 5px;

    >div {
      flex: 1;
    }
  }

  .incorrect-results {
    background-color: #ff4d4d;
    padding: 5px;
    border-radius: $border-radius;
    text-align: center;
    color: #cccccc;
  }

  .correct-results {
    background-color: #4caf50;
    padding: 5px;
    border-radius: $border-radius;
    text-align: center;
    color: #cccccc;
  }
}
