{% extends 'Components/NavBar.html.twig' %}

{% block nav %}
    <div class="menu">
        <ul>
            <li><a href="{{ path('app_admin_entity', { entity: 'examples' }) }}">Příklady</a></li>
            <li><a href="{{ path('app_admin_entity', { entity: 'users' }) }}">Uživatelé</a></li>
            <li><a href="{{ path('app_admin_entity', { entity: 'themes' }) }}">Témata</a></li>
            <li><a href="{{ path('app_admin_entity', { entity: 'quotes' }) }}">Citáty</a></li>
        </ul>
    </div>
    <a href="/" class="btn-primary">Home Page</a>
{% endblock %}
