{% block body %}
    <div class="container mt-4">

        <div class="card-container">
            {% for item in counts %}
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">{{ item.name }}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Počet: {{ item.count }}</p>
                        <a href="{{ path('app_admin_entity', { entity: item.route }) }}" class="btn btn-primary">Zobrazit</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
