<div class="slider-container">
    <div class="slider">
        {% for quote in quotes %}
            <div class="slider-item">{{ quote.quote }}</div>
        {% endfor %}
    </div>
    <div class="slider-dots">
        {% for quote in quotes %}
            <span class="slider-dot"></span>
        {% endfor %}
    </div>
</div>
