<div class="home_themes">
    {% for theme in themes %}
        <div class="home_theme">
            <div class="image">
                {% set iconPath = 'assets/icons/theme-' ~ theme.id ~ '.svg' %}
                <img class="icon" src="{{ asset(iconPath) }}" alt="{{ theme.name }}">
            </div>
            <div>
                <p class="name">{{ theme.name }}</p>
                <a href="{{ path('theme_show', { 'id': theme.id }) }}" class="btn-primary">Pokračovat</a>
            </div>
        </div>
    {% endfor %}
</div>